html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d383a;
}

@viewport {
  orientation: portrait;
}

#app {
  max-width: 375px;
  margin: 0 auto;
}

#pad {
  height: 375px;
  margin: auto;
  position: relative;
  background: radial-gradient(#2d383a, black);
}

#pad-handle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ed0a3f;
  border-radius: 50%;
  cursor: pointer;
}

#pad-handle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset -20px -20px 20px 2px #2d383a, inset 20px 20px 20px 5px rgba(135, 56, 58, 0.1);
}

#car-info {
  display: flex;
}

#speedometer {
  flex-grow: 1;
  font: 90px Arial, Helvetica, sans-serif;
  text-align: right;
  color: #ed0a3f;
  padding: 35px 8px;
}

#compass {
  width: 150px;
  height: 150px;
  border: 15px solid #ed0a3f;
  border-radius: 50%;
}

#needle {
  stroke: #ed0a3f;
  stroke-width: 10px;
}
