.board {
  display: flex;
  flex-flow: wrap;
}

.subboard {
  display: flex;
  flex-direction: column;
}

.unit {
  padding: 10px;
}

.credit {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
}

#gpio {
  border: 2px solid black;
}
#gpio td span {
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 14px;
  text-align: center;
  line-height: 2em;
  border: 2px solid black;
  border-radius: 50%;
}
#gpio .power-5v span {
  background-color: red;
}
#gpio .power-3-3v span {
  background-color: orange;
}
#gpio .gnd span {
  background-color: #aaaaaa;
}
#gpio .on span {
  background-color: lightgreen;
}
#gpio td:first-of-type:before,
#gpio td:last-of-type:after {
  content: " ";
  width: 20px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
#gpio td:first-of-type.mode-in:before,
#gpio td:last-of-type.mode-out:after {
  content: ">";
}
#gpio td:last-of-type.mode-in:after,
#gpio td:first-of-type.mode-out:before {
  content: "<";
}
#gpio td:last-of-type.mode-pwm:after,
#gpio td:first-of-type.mode-pwm:before {
  content: "~";
}

.led,
.led .shadow {
  width: 30px;
  height: 30px;
  border-radius: 50px 50px 0 0;
}
.led {
  background: red;
  position: relative;
}
.led .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightgrey;
}

.motor img {
  width: 100px;
  animation: 0s linear 0s infinite normal none running rotation;
}
.motor .speed {
  text-align: center;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

#car-area {
  background-size: contain;
  background-repeat: no-repeat;
}

#car-area {
  width: 500px;
  height: 500px;
  border: 1px solid #aaaaaa;
}

.axis {
  stroke: black;
}

.wheel {
  width: 20px;
  height: 10px;
}

#command-controller button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
}

#camera-toggle {
  display: none;
}
#camera-preview {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  border: 1px solid #aaaaaa;
  cursor: pointer;
}

#accel span,
#gyro span {
  display: inline-block;
  width: 80px;
}
