html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d383a;
}

* {
  user-select: none;
}

@viewport {
  orientation: portrait;
}

#app {
  max-width: 375px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#camera-preview {
  position: absolute;
  top: 0;
  width: 100%;
}

#pad {
  height: 375px;
  position: relative;
  background: radial-gradient(#2d383a, black);
}

#pad-handle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ed0a3f;
  border-radius: 50%;
  cursor: pointer;
}

#pad-handle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset -20px -20px 20px -20px #2d383a;
}

#car-info {
  display: flex;
}

#speedometer {
  flex-grow: 1;
  font:
    50px Arial,
    Helvetica,
    sans-serif;
  text-align: right;
  color: #ed0a3f;
}

#compass {
  width: 100%;
  height: 100%;
  border: 10px solid #ed0a3f;
  border-radius: 50%;
  box-sizing: border-box;
}

#needle {
  stroke: #ed0a3f;
  stroke-width: 3px;
  stroke-linejoin: round;
}

#tracker-toggle,
#camera-toggle {
  color: #cccccc;
  position: relative;
  top: 3.3rem;
}
